@import '../Box/Box.styl'
@import '../Box/var.styl'
@import '../Btn/Btn.styl'
@import '../Btn/var.styl'
@import '../Wait/Wait.styl'
@import '../Wait/var.styl'

:root
  --confirmOkSvg url('./svg/ok.svg')
  --confirmXSvg url('./svg/x.svg')
