@keyframes fadeInLeft
  from
    opacity 0
    transform translate3d(-100%, 0, 0)

  to
    opacity 1
    transform translate3d(0, 0, 0)

@keyframes fadeOutLeft
  from
    opacity 1

  to
    opacity 0
    transform translate3d(-100%, 0, 0)

.Toast
  align-items center
  backdrop-filter blur(12px)
  background linear-gradient(90deg, rgba(0, 0, 0, 0.9) 0, rgba(15, 23, 42, 0.8) 100%)
  border 1px solid rgba(0, 0, 0, 0.06)
  border-radius 14px
  bottom 14px
  box-shadow inset 0 0 3px rgba(0, 0, 0, 0.5)
  color #fff
  display flex
  font-size 14px
  font-weight bold
  left 14px
  line-height 1.2
  overflow visible !important
  padding 7px 14px
  position fixed
  text-align center
  z-index 99999

  &.animated
    animation-duration 0.5s
    animation-fill-mode both

  &.fadeInLeft
    animation-name fadeInLeft

  &.fadeOutLeft
    animation-name fadeOutLeft

  & > .x
    background var(--toastXSvg) 0 0 / cover no-repeat
    cursor pointer
    display block
    filter unquote('invert(1) opacity(0.5)')
    flex-shrink 0
    height 18px
    margin 0 -4px 0 8px
    transition filter 0.2s
    user-select none
    width 18px

    &:hover
      filter unquote('invert(1) opacity(0.85)')

  &.ERR
    background linear-gradient(135deg, #ff0015f0 0, #ff0026fe 100%)
    box-shadow inset 0 0 3px rgba(255, 0, 0, 0.5)

    & > .x
      filter unquote('invert(1) opacity(0.7)')

      &:hover
        filter unquote('invert(1) opacity(1)')

  max-height 544px
  max-width 544px
  text-overflow ellipsis

  & > b
    max-height 544px
    max-width 544px
    overflow hidden
    text-overflow ellipsis
