dialog.uBox
  background transparent
  border none
  box-sizing border-box
  outline none
  overflow visible
  padding 16px
  position relative
  top 16px
  z-index 2147483647

  &::backdrop
    backdrop-filter blur(4px)
    background-color #ffffff99
